@(message: String)

@main("MoMud") {

    <div class="well">
        <h1>@message</h1>
    </div>
    <div class="container-fluid">
    	<p class="lead">
    	Once upon a time in the wonderful and semi-peaceful land of Morgantown, West Virginia, there were two Computer Science students.
    	These were no mere students, however, as they decided to embark upon a magnificent quest to the complete the infamous
    	course of mental despair and physical exhaustion, Functional Programming and Concurrency, crafted by none other than
    	the Mad Professor Morehead. The final task of which brings us to this site.
    	</p>
    	<br></br>
    	<p class="lead">
    	Here you will find a description of each of these brave souls as personally written by each of them. 
    	</p>
    	<h2>Connor Anderson</h2>
    	<div class="well pull-left">
    	<img src='@routes.Assets.at("images/Connor.jpg")' class="img-responsive" alt="Connor">
    	</div>
    	<p class="pull-left">
    	You might be asking yourself, is that really the guy who made this page? If that's the case, then I'm questioning how you came across
    	this place anyway. In reality, this handsome guy is my spirit animal. At this point, you may say he's clearly not an animal
    	he's a human, to which I say humans are animals and thus he is my spirit animal. Also, the movie he is from is scored by my favorite band
    	of all time, Queen. The guy is just an all around badass and deserves to be on this page representing me. As to how I ended up doing this
    	project, I have been a long time fan of dungeon based games and grew up on plenty of D&D and RPG playing. Now I finally get the chance to
    	see what a pain in the neck developing one happens to be.
    	</p>
    </div>

}
