@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <style>
    body {
        margin-top: 50px;
    }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@title</a>
            	<div>
            		<ul class="nav navbar-nav">
            			<li><a href="/">Home</a></li>
            		</ul>
            		<ul class="nav navbar-nav">
            			<li><a href="/features">Features</a></li>
            		</ul>
            		<ul class="nav navbar-nav">
            			<li><a href="/screenshots">Screenshots</a></li>
            		</ul>
            		<ul class="nav navbar-nav">
            			<li><a href="/announcements">Announcements</a></li>
            		</ul>
            		<ul class="nav navbar-nav">
            			<li><a href="/outline">Project Outline</a>
            		</ul>
          			<ul class="nav navbar-nav">
            			<li><a href="/actors">Actor System</a>
            		</ul>
            		<ul class="nav navbar-nav">
            			<li><a href="/summary">Project Summary</a></li>
            		</ul>
            		<ul class="nav navbar-nav">
            			<li><a href="/about">About Us</a></li>
            		</ul>
            	</div>
            </div>
        </div>
    </div>
    <div class="container">
        @content
    </div>
</body>
</html>
