@(message: String)

@main("MoMud") {

    <div class="well">
        <h1>@message</h1>
    </div>
    <div class="container-fluid">
    	<ol type="I">
		 <li class="lead">Connect/Disconnect</li>
		 <li class="lead">Character Creation
		 	<ol type="A">
		 	  <li>Name</li>
		 	  <li>Origin</li>
		 	</ol>
		 </li>
		 <li class="lead">Communication
		 	<ol type="A">
		 	  <li>Local Chat</li>
		 	</ol>
		 </li>
		 <li class="lead">Navigation
		 	<ol type="A">
		 	  <li>N/S/E/W</li>
		 	</ol>
		 </li>
		 <li class="lead">Locations
		 	<ol type="A">
		 	  <li>Rooms</li>
		 		<ol type="1">
		 	  		<li>Exits</li>
		 	  		<li>Players</li>
		 	  		<li>Room Descriptions</li>
		 	  		<li>Room Names</li>
		 		</ol>
		 	  <li>Room Database</li>
		 	  <li>World Builder/Controller</li>
		 		<ol type="1">
		 	  		<li>Room Actors</li>
		 		</ol>
		 	</ol>
		 </li>
		 <li class="lead">Combat
		 	<ol type="A">
		 	  <li>Hit/Punch/Start Combat</li>
		 	  <li>Flee/Stop Combat</li>
		 	</ol>
		 </li>
		 <li class="lead">Command Parser
		 	<ol type="A">
		 	  <li>Communication Commands</li>
		 	  <li>Movement Commands</li>
		 	  <li>Combat Commands</li>
		 	</ol>
		 </li>
		 <li class="lead">Extra Coolness
		 	<ol type="A">
		 	  <li>Origin Features</li>
		 	  <li>Bartenders</li>
		 	  <li>Drunkeness</li>
		 	</ol>
		 </li>
		</ol> 
    </div>

}
