@(message: String)

@main("MoMud") {

    <div class="well">
        <h1>@message</h1>
    </div>
    <div class="row">
    	<img src='@routes.Assets.at("images/highst.jpg")' class="img-thumbnail" width=470px>
    	<img src='@routes.Assets.at("images/guidos.jpg")' class="img-thumbnail" width=470px>
    </div>
    <div class="row">
    	<img src='@routes.Assets.at("images/morehead.jpg")' class="img-thumbnail" width=470px>
    	<img src='@routes.Assets.at("images/fight.jpg")' class="img-thumbnail" width=470px>
    </div>

}
